@model Forte.Styleguide.Views.Styleguide.MvcPartialComponentViewModel

@if (!string.IsNullOrEmpty(Model.LayoutPath))
{
    Layout = Model.LayoutPath;
}

<style>
    .StyleguideComponentVariant__name {
        padding: 11px 20px 10px;
        margin: 20px;
        background: #eee;
        display: inline-block;
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;
    }
    
    .StyleguideComponentVariant__name::before {
        content: "Variant: ";
        text-transform: none;
        margin-right: 5px;
    }

    .StyleguideComponentVariant__wrapper {
        margin: 10px 20px 60px;
    }

    .Body--search::before { display: none; }
    
</style>

@if (Model.Error != null)
{
    <pre class="StyleguideComponent__error">@Model.Error</pre>
}
else
{
    foreach (var variant in @Model.Variants)
    {
        <span class="StyleguideComponentVariant__name">@variant.Name</span>        
        <div class="StyleguideComponentVariant__wrapper">
            @Html.Partial(@Model.PartialName, variant.Model, variant.ViewData)
        </div>
    }
}
